@{
    ViewBag.Title = "Products";
}

<a class="create-button" asp-area="" asp-controller="Product" asp-action="CreateProduct">Create new</a>

<table id="productsTable" class="dataTable">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>category_id</th>
            <th>serial_number</th>
            <th>price</th>
            <th>year</th>
            <th>brand</th>
            <th>model</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">


    window.onload = function () {
        $.ajax({
            url: '/api/Products',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);
                var table = $('#productsTable');
                table.find("tbody tr").remove();
                data.forEach(function (product) {
                    table.append("<tr class='js-edit' data-id=" + product.id + "><td>" + product.id + "</td><td>" + product.category_id + "</td><td>" + product.serial_number + "</td><td>" + product.price + "</td><td>" + product.year + "</td><td>" + product.brand + "</td><td>" + product.model);
                });
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
                console.log(data);
            }
        })
    };

    $("#productsTable").on("click", ".js-edit", function () {
        var tr = $(this);
        window.location.href = '/Product/EditProduct/' + tr.attr("data-id");
        });

</script>