@model CoreMVC_Exam.Models.Client

@{
    ViewData["Title"] = "EditClient";
}

<h2>Edit Client</h2>

<h4>@Model.passport_id</h4>
<hr />
<link rel="stylesheet" href="~/css/form.css" />
<div class="formContainer">
    <div class="content">
        <form id="validForm" asp-action="EditClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="passport_id" />
            <div class="input-box">
                <label asp-for="full_name" class="details"></label>
                <input asp-for="full_name" class="form-control" />
                <span asp-validation-for="full_name" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="address" class="details"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="phone_number" class="details"></label>
                <input asp-for="phone_number" class="form-control" />
                <span asp-validation-for="phone_number" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="birthday" class="details"></label>
                <input asp-for="birthday" class="form-control" />
                <span asp-validation-for="birthday" class="text-danger"></span>
            </div>
            <div id="submitDiv" class="button">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <hr/>
        <div style="display:flex; justify-content:space-between;">
            <a href="javascript:window.history.back();"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <button class='btn-link js-delete'>Delete</button>
        </div>
    </div>
</div>

<script>

    $('#validForm').submit(function (e) {
        // предовратить отправку формы
        e.preventDefault();

        // подача Ajax-запроса на сервер при помощи JQuery
        $.ajax({
            url: '/api/Clients/' + $('#passport_id').val(),
            method: "PUT",
            data: JSON.stringify({
                passport_id: $('#passport_id').val(),
                full_name: $('#full_name').val(),
                address: $('#address').val(),
                phone_number: $('#phone_number').val(),
                birthday: $('#birthday').val()
            }),
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);
                document.location.href = "/Client/Clients";
            },
            error: function (data) {
                onError(data);
            }
        })
    });

    function onError(data) {
        console.log(data);
        //alert(data);

        // скрыть все ошибки, показанные на предыдущем шаге валидации
        $("input").removeClass('input-validation-error');
        $("select").removeClass('input-validation-error');
        $("span[data-valmsg-for]").removeClass('field-validation-error');
        $("span[data-valmsg-for]").addClass('field-validation-valid');
        $("span[data-valmsg-for]").text("");

        // если произошла ошибка валидации
        if (data.status == 400) {
            console.log(data.responseJSON);

            // перебрать все полученные ошибки валидации
            //$.each(data.responseJSON.ModelState, function (key, value) {
            $.each(data.responseJSON.errors, function (key, value) {
                //key = key.split('.')[1];

                console.log(key);
                console.log(value);

                // выделить текстовое поле с ошибкой
                var filter = "input[name='" + key + "']";
                $(filter).addClass('input-validation-error');

                // показать сообщение об ошибке для каждого текстового поля с ошибкой
                var validationMessageElement = $('span[data-valmsg-for="' + key + '"]');
                validationMessageElement.removeClass('field-validation-valid');
                validationMessageElement.addClass('field-validation-error');
                validationMessageElement.text(value[0]);
            });
        }
    }

    $("#submitDiv").on("click", ".js-delete", function () {
        var button = $(this);
        {
            $.ajax({
                url: "/api/Clients/" + $('#passport_id').val(),
                method: "DELETE",
                success: function () {
                    document.location.href = "/Client/Clients";
                }
            }).fail(function () {
                alert('fail');
            })
        }
    });
</script>

