@{
    ViewBag.Title = "Categories";
}

<h1>Categories</h1>

<table id="categoriesTable" class="dataTable">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">


    window.onload = function() {
        $.ajax({
            url: '/api/Categories',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            beforeSend: function (xheader) {
                var token = sessionStorage.getItem(tokenKey);
                console.log(token);
                xheader.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data) {
                console.log(data);
                var table = $('#categoriesTable');
                table.find("tbody tr").remove();
                data.forEach(function (category) {
                    table.append("<tr><td>" + category.id + "</td><td>" + category.name);
                });
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
                console.log(data);
            }
        })
};

</script>