@{
    ViewBag.Title = "Categories";
}

<a class="create-button" asp-area="" asp-controller="Home" asp-action="CreateCategory">Create new</a>

<table id="categoriesTable" class="dataTable">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">


    window.onload = function() {
        $.ajax({
            url: '/api/Categories',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);
                var table = $('#categoriesTable');
                table.find("tbody tr").remove();
                data.forEach(function (category) {
                    table.append("<tr class='js-edit' data-id=" + category.id + "><td>" + category.id + "</td><td>" + category.name + "</td>");
                });
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
                console.log(data);
            }
        })

        $("#categoriesTable").on("click", ".js-edit", function () {
        var tr = $(this);
        window.location.href = '/Home/EditCategory/' + tr.attr("data-id");
        });
};

</script>