@{
    ViewBag.Title = "Clients";
}

<table id="clientsTable" class="dataTable">
    <thead class="thead-dark">
        <tr>
            <th>passport id</th>
            <th>full name</th>
            <th>address</th>
            <th>phone number</th>
            <th>birthday</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">


    window.onload = function () {
        $.ajax({
            url: '/api/Clients',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            beforeSend: function (xheader) {
                var token = sessionStorage.getItem(tokenKey);
                console.log(token);
                xheader.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data) {
                console.log(data);
                var table = $('#clientsTable');
                table.find("tbody tr").remove();
                data.forEach(function (client) {
                    table.append("<tr><td>" + client.passport_id + "</td><td>" + client.full_name + "</td><td>" + client.address + "</td><td>" + client.phone_number + "</td><td>" + client.birthday);
                });
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
                console.log(data);
            }
        })
    };

</script>