@{
    ViewBag.Title = "Orders";
}
<a class="create-button" asp-area="" asp-controller="Home" asp-action="CreateOrder">Create new</a>

<table id="ordersTable" class="dataTable">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>product_id</th>
            <th>client_id</th>
            <th>start_date</th>
            <th>end_date</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">


    window.onload = function () {
        $.ajax({
            url: '/api/Orders',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);
                var table = $('#ordersTable');
                table.find("tbody tr").remove();
                data.forEach(function (order) {
                    table.append("<tr class='js-edit' data-id=" + order.id + "><td>" + order.id + "</td><td>" + order.product_id + "</td><td>" + order.client_id + "</td><td>" + order.start_date + "</td><td>" + order.end_date + "</td><td>" + order.price);
                });
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
                console.log(data);
            }
        })
    };

    $("#ordersTable").on("click", ".js-edit", function () {
        var tr = $(this);
        window.location.href = '/Home/EditOrder/' + tr.attr("data-id");
        });
</script>